 <!-- About Modal -->
     <div class="modal fade" id="about-modal" tabindex="-1" role="dialog" aria-labelledby="search-modal" aria-hidden="true">
       <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        <div class="orgs-list">
        <span> About </span> 
        </div>
 
        <div class="close-container">
          <button type="button" class="close" data-dismiss="modal">           
           <img src="images/x.png" class="xclose"/>        
           <span class="sr-only">Close</span>
          </button>
          </div>
            </div>
        <div class="modal-body nopadding">
         <div class="org-list-header col-md-12 nopadding" align="center">
           Methodology:
    
           </div>
<div class="col-md-12" style="overflow-y:scroll; height:320px; ">         
<div style="margin:7px">

<!--
 <b>The Global Surgery Map Project</b>

<p style="text-align: justify;">Surgeon workforce mapping tool  is an open source, collaborative effort led by the International Collaboration for Essential Surgery (ICES), College of Surgeons of East, Central, and Southern Africa (COSECSA), and the Royal College of Surgeons in Ireland (RCSI). The map project partners include the Lancet Commission on Global Surgery, University of Toronto, and the Harvard Medical School Program in Global Surgery and Social Change. </p>

<p style="text-align: justify;">Surgeon Density data was contributed by RCSI and COSECSA. To construct this information, an online database of all surgeons working in the COSECSA region was developed in 2012 based on CapsuleCRM software (Zestia Ltd, Wilmslow, UK), a cloud-based customer relationship management (CRM) system. This platform was chosen primarily for its search tools and its ease of integration with other software platforms. </p>

<p style="text-align: justify;">In addition, each individual entry is cross-referenced with a list of hospitals, which is maintained in the database. Each surgeon is also linked to one of nine surgical specialities: General Surgery, Orthopaedic surgery, Urology, Plastic Surgery, Paediatric surgery, Neurosurgery, Otolaryngology (ENT), Cardiovascular/Cardiothoracic surgery and Oral and Maxillofacial surgery.</p>

<p style="text-align: justify;">The database initially comprised all COSECSA Fellows and Members, in addition to the residents enrolled in COSECSA-approved training programmes in each of the ten countries. Attendance at each COSECSA course and educational event was also registered into the database. Although many of the COSECSA event attendees were not COSECSA members, their information was added to the database, which grew to include the majority of surgeons in the COSECSA region. In 2013, a comprehensive mapping project was undertaken, which involved correlating the surgeons personally known to COSECSA Fellows with data obtained from national medical councils, surgical societies, NGOs, hospital groups, and individual hospitals. Each entry was verified in consultation with a regional network of COSECSA country representatives and by direct contact with the registered surgeon. As the surgical training college for the region, with a membership and fellowship incorporating the majority (54%) of surgeons currently practising in the region, COSECSA is uniquely well placed to obtain this data.</p>

<p style="text-align: justify;">The database powering the Surgeon workforce mapping tool  contains an individual profile of every surgeon living and working in the region and is dynamically updated with additional profiles created. All those who have declared that they have completed certified postgraduate training (either in the region or elsewhere) and are actively involved in providing surgical care to patients have been included in the analysis.</p>

<i>What you should know</i>
<ul>
<li>Certain categories have not yet been included but are considered part of the global surgical workforce: </li>
<li>Surgeons who are present in the region on a short term or rotating basis </li>
<li>Ophthalmologists, as there is a separate College of Ophthalmology of Eastern Central and Southern Africa (COECSA)</li>
<li>Obstetrician/gynaecologists </li>
<li>Non surgeons who perform surgery (general medical officers and clinical officers)</li>
</ul>

<p style="text-align: justify;">Training programs in surgical specialties in Sub-Saharan Africa are a relatively recent development. As a consequence, the division between general surgery and surgical sub-specialities in the COSECSA region is fluid, particularly in rural areas where the general surgeon may frequently perform orthopaedic, urologic, neurosurgical or paediatric operations. As many surgeons often work in both the public and the private sector, we have not attempted to differentiate between surgeons working in the public or the private domain.</p>

<p style="text-align: justify;">The surgical NGO map was created in partnership with the LCoGS and the PGSSC. In brief, a systematic search to identify relevant surgical organizations was done with the following methodology:</p>

<b>Who we included:</b>
<ol>
<li>NGOs who satisfied the UN Rule of Law definition: “a not-for- profit group, principally independent from government, which is organized on a local, national, or international level to address issues in support of a public good, ” </li>
<li>Provided surgery in one or more LMICs. Surgery was defined as the therapeutic excision, incision, or manipulation of tissue in an operating room, and was distinguished from the logistical or financial support of such care. This highly restrictive definition was chosen to facilitate a review of several large databases. LMICs were defined according to World Bank income groups, and included low-income, lower-middle income, and upper-middle income countries. </li>
</ol>

<b>Who we excluded:</b>
<ol>
<li>Organizations that exclusively transported patients to high-income countries for surgical procedures</li>
<li>Organizations that lack sufficient publicly available data on the web (in the form of mission statements, reports, trip schedules, photos, or testimonials) to confirm inclusion criteria.</li>
<li>CSOs with multiple national or regional branches (such as Médecins Sans Frontières, the International Committee of the Red Cross, and Médecins du Monde) were counted only once, under the name of the parent organization.</li>
</ol>

<b>The Search</b>

<p style="text-align: justify;">Our search was conducted in two rounds. The first round was designed to identify candidate organizations from databases of non-governmental organizations, from a review of the literature, and from social media. In the second round, we studied each organization’s website to confirm that the organization met inclusion criteria and to extract data.</p>

<p style="text-align: justify;">We attempted to identify both organizations involved in disaster relief and those with a broader health and development agenda. To find the former, we chose to query the application programming interface of ReliefWeb, an online data clearinghouse on global crises and disasters operated by the UN Office for the Coordination of Humanitarian Affairs (OCHA). This provided a list of all organizations reporting data to OCHA. For the latter, we searched Idealist.org, a database including 92,262 organizations at the time of review. We developed a Boolean search string to identify all CSOs and screened the resulting organizations. To improve yield, we additionally screened a variety of smaller voluntary service databases. These included the Operation Giving Back Surgical Volunteer Opportunities, US Private Voluntary Organizations, Society for Pediatric Anesthesia Volunteer Medical Services Abroad, International Medical Volunteer Association, MedicalMissions.com, and MissionFinder.org databases. A complementary search was completed by Gutnik and others, who provided a list of organizations exclusively delivering surgical care from a search of the OmniMed database, the Foundation Center Online Directory, UK Charity Commission, Australia Charity Commission, New Zealand Charities Services, and the Canada Revenue Agency Charity Search.</p>

<p style="text-align: justify;">We performed a literature search, querying PubMed with terms related to a variety of surgical specialties and procedures, LMIC country names, and NGOs. Titles and abstracts were reviewed for relevance, and names of NGOs were extracted from resulting full-text articles. We included organizations extracted from a review of charitable platforms in global surgery, a review of global pediatric surgical volunteerism, and a survey of pediatric cardiovascular care organizations. Twitter was also used to find organizations.</p>
-->
<b>The Global Surgery Map Project</b>

<p style="text-align: justify;">Surgeon workforce mapping tool  is an open source, collaborative effort led by the International Collaboration for Essential Surgery, College of Surgeons of East, Central, and Southern Africa, Royal College of Surgeons in Ireland (RCSI). </p>

<p style="text-align: justify;">Surgeon Density data was contributed by RCSI and COSECSA. To construct this information, an online database of all surgeons working in the COSECSA region was developed in 2012 based on CapsuleCRM software (Zestia Ltd, Wilmslow, UK), a cloud-based customer relationship management (CRM) system. This platform was chosen primarily for its search tools and its ease of integration with other software platforms. </p>

<p style="text-align: justify;">In addition, each individual entry is cross-referenced with a list of hospitals, which is maintained in the database. Each surgeon is also linked to one of nine surgical specialities: General Surgery, Orthopaedic surgery, Urology, Plastic Surgery, Paediatric surgery, Neurosurgery, Otolaryngology (ENT), Cardiovascular/Cardiothoracic surgery and Oral and Maxillofacial surgery.</p>

<p style="text-align: justify;">The database initially comprised all COSECSA Fellows and Members, in addition to the residents enrolled in COSECSA-approved training programmes in each of the ten countries. Attendance at each COSECSA course and educational event was also registered into the database. Although many of the COSECSA event attendees were not COSECSA members, their information was added to the database, which grew to include the majority of surgeons in the COSECSA region. In 2013, a comprehensive mapping project was undertaken, which involved correlating the surgeons personally known to COSECSA Fellows with data obtained from national medical councils, surgical societies, NGOs, hospital groups, and individual hospitals. Each entry was verified in consultation with a regional network of COSECSA country representatives and by direct contact with the registered surgeon. As the surgical training college for the region, with a membership and fellowship incorporating the majority (54%) of surgeons currently practising in the region, COSECSA is uniquely well placed to obtain this data.</p>

<p style="text-align: justify;">The database powering the Surgeon workforce mapping tool  contains an individual profile of every surgeon living and working in the region and is dynamically updated with additional profiles created. All those who have declared that they have completed certified postgraduate training (either in the region or elsewhere) and are actively involved in providing surgical care to patients have been included in the analysis.</p>

<i>What you should know</i>
<ul>
<li>Certain categories have not yet been included but are considered part of the global surgical workforce: </li> 

<li>Surgeons who are present in the region on a short term or rotating basis</li> 

<li>Ophthalmologists, as there is a separate College of Ophthalmology of Eastern Central and Southern Africa (COECSA)</li>

<li>Obstetrician/gynaecologists</li> 

<li>Non surgeons who perform surgery (general medical officers and clinical officers)</li>
</ul>

<p style="text-align: justify;">Training programs in surgical specialties in Sub-Saharan Africa are a relatively recent development. As a consequence, the division between general surgery and surgical sub-specialities in the COSECSA region is fluid, particularly in rural areas where the general surgeon may frequently perform orthopaedic, urologic, neurosurgical or paediatric operations. As many surgeons often work in both the public and the private sector, we have not attempted to differentiate between surgeons working in the public or the private domain.</p>
 </div>
</div>

          <div class="org-list-header col-md-12 nopadding" align="center">
           Generous map partners:
           </div>
       <!--  <div id="search-results">
         <div class="logo-container" align="center">
          <a href="http://theg4alliance.com" target="_blank" ><img src="images/4alliance.png"  style="max-width:160px" />
          </a> </div>-->
      <div align="center">   
         <div class="logo-container-inline" align="center">
          <a href="https://www.rcsi.ie/" target="_blank" >
          <img src="images/RCSI_LOGO_COLOR.png" class="logo-inline-200"  />
           </a>
         </div>
        <!--    <div class="logo-container" align="center">
          <a href="http://irishaid.ie"  target="_blank" >
          <img src="images/irishaid.png" style="max-width:120px" />
          </a> 
         </div>-->
         <div class="logo-container-inline" align="center">
          <a href="http://essentialsurgery.com"  target="_blank" >
          <img src="images/ices.png" class="logo-inline-120" />
          </a> 
         </div>
         <div class="logo-container-inline" align="center">
          <a href="http://www.cosecsa.org/" target="_blank">
          <img src="images/COSECSA.png" class="logo-inline-120""  />
           </a>
         </div>
    <!--     <div class="logo-container" align="center">
          <a href="http://www.cosecsa.org/" target="_blank">
          <img src="images/GS2030.jpg" style="max-width:120px"  />
           </a>
         </div>
          <div class="logo-container" align="center">
          <a href="http://www.cosecsa.org/" target="_blank">
          <img src="images/UofT_Logo.jpg" style="max-width:250px"  />
           </a>
         </div>
          <div class="logo-container" align="center">
          <a href="http://www.cosecsa.org/" target="_blank">
          <img src="images/PGSSC_logo.png" style="max-width:260px"  />
           </a>
         </div> -->
         </div>
        </div>
        </div>
        </div>
        </div>
         </div>
      </div>
    </div>