    <!-- Stats Modal -->


     <div class="modal fade" id="stats-modal" tabindex="-1" role="dialog" aria-labelledby="stats-modal" aria-hidden="true">
       <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="text-align: center;">
        <div id="stats-title" class="orgs-list" style="text-align: center;">
        <span> Density </span> 
        </div>
 
        <div class="close-container">
          <button type="button" class="close" data-dismiss="modal">           
           <img src="images/x.png" class="xclose"/>        
           <span class="sr-only">Close</span>
          </button>
          </div>
            </div>
        <div id="stats-modal-body" class="stats-modal-body nopadding">
         
          <div class=" org-list-header col-md-12 nopadding" align="center">
             
           </div>
        
         <div id="search-results">
 
        </div>
        
        </div>
         </div>
      </div>
    </div>