<div align="center"> 
<div class="col-md-12" style="margin-top:45px;"> 
<div class="col-md-3"> </div>
<div class="col-md-6" align="center">
<h1>  About </h1>  
<div class="well"> 
<p> The College of Surgeons of East, Central and Southern Africa (COSECSA) is the second largest surgical training institution in Sub-Saharan Africa. </p>

<p>COSECSA was established in 1999 to advance education, training, examination standards, research and practice in surgical care by increasing the number of appropriately trained, well qualified surgeons and surgically trained general medical officers.</p>

<p>COSECSA provides an independent and internationally recognized Membership and Fellowship programme. Fellowships are offered in: Orthopaedics; ENT; Urology; Paediatric Surgery; Neurosurgery; Plastic Surgery and General Surgery. </p>

<p>COSECSA has 10 Member Countries: Burundi, Ethiopia, Kenya, Malawi, Mozambique, Rwanda, Tanzania, Uganda, Zambia and Zimbabwe. </p>

<h3> Surgery in Africa </h3>

<p>Sub-Saharan Africa has the highest ratio of surgical Disability Adjusted Life Years (DALYs), a measure of the overall disease burden, and the highest rate of obstetrical complications in the world. </p>

<p>6.5% of the global burden of disease is amenable to surgery. </p>

<p>In Sub-Saharan Africa injury is the main cause of death and disability for children aged five and over. </p>

<p>Africa has approximately 25% of the burden of world’s diseases but only 1.3% of the world health workforce. </p>

<p>Most surgeons are based in major urban areas. </p>


</div>

 </div>
<div class="col-md-3"> </div>

</div>

 </div>