


<div align="center"> 
<div class="col-md-12" style="margin-top:45px;"> 
<div class="col-md-3"> </div>
<div class="col-md-6" align="center">
<h1>  Contact </h1>  
<div class="well"> 
 <p> RCSI : https://www.rcsi.ie/ </p>
 <p> COSECSA: http://www.cosecsa.org/</p>
 <p> ICES: http://www.essentialsurgery.com/ </p>
 <p> e-mail:  info@cosecsa.org</p>

</div>

 </div>
<div class="col-md-3"> </div>

</div>

 </div>