<style type="text/css">	
.big-icon {  
	font-size:70px;
 }

.icon-color { color:#A12722; }

.flex {  
    display: -webkit-flex; /* Safari */
    display: flex;
}

.flex div { 
 -webkit-flex: 1; /* Safari 6.1+ */
    -ms-flex: 1; /* IE 10 */
    flex: 1;
}
</style>
<div align="center" class="flex" style="height:100%; width:75%; padding-top:55px; padding-bottom:45px;  background-color:#ffffff; margin:auto"> 
<div style="">
<img src="images/COSECSA.png" />
</div>
<div>
<img src="images/rcsi.jpg" style="max-width:130px" />
</div>
<div>
<img src="images/ices.jpg" style="max-width:350px" />
</div>
</div>
<div class="col-md-12" align="center">
<div class="col-md-1"></div>
<div class="col-md-5 icon-color"><a href="/drdensity" class="icon-color"><i class="fa fa-group fa-fw big-icon icon-color"></i><br/>Density by country</a></div>
<div class="col-md-5 icon-color"><a href="/drgender" class="icon-color"><i class="fa fa-female fa-fw big-icon icon-color"></i><br/>Gender by country</a></div>
<div class="col-md-1"></div>    
</div>    