


<div align="center"> 
<div class="col-md-12" style="margin-top:45px;"> 
<div class="col-md-3"> </div>
<div class="col-md-6" align="center">
<h1>  Privacy Policy </h1>  
<div class="well"> 
 <p>Any data used in the compilation of this map is protected under the Privacy and Data Protection Policy of RCSI and COSECSA. Neither RCSI nor COSECSA are responsible for the content or privacy practices of other websites which may access this map through the RCSI or COSECSA website. </p>
 <p>It is College policy to identify clearly links to external websites and it is your responsibility to satisfy yourself as to the adequacy of the practices of linked sites. Pursuant to the Data Protection Acts 1988 and 2003, you have certain rights to obtain a copy of the data held about you, for a fee. Any such requests should be made in writing (not email) to the Data Protection Officer at the address set out below. For further details on your data privacy rights, please refer to www.dataprotection.ie. This statement should not be construed as a contractual undertaking. </p>
  <p>The Colleges reserve the right to review and amend this statement at any time without notice and you should therefore re-visit this webpage from time to time. </p>

 


</div>

 </div>
<div class="col-md-3"> </div>

</div>

 </div>